.posts{
    padding: 4rem 0;
}
.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
.post__photo,
.post__title{
    padding: 1rem 2rem;
    position: relative;
}
.post__img{
    width: 100%;
    overflow: hidden;
    & img{
        width: 100%;
        transition: all 1s ease;
        &:hover{
            transform: scale(1.3);
        }
    }
}
.post__info{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1.2rem;
    background: $sky;
    border-radius: 3rem;
    color: $text-gray;
    & span{
        margin: 0 0.5rem;
    }
}
.post__title{
    & a{
        font-family: Anton, cursive;
        font-size: 1.5rem;
        color: $text-gray;
    }
    & p{
        font-family: Lexend, cursive;
        color: $text-light;
        margin: 1rem 0;
    }
    & .post__btn{
        background: $sky;
        border-radius: 0;
        padding: 0.7rem 1.5rem;
    }
}

.pagination{
    justify-content: center;
    color: $text-gray;
    margin: 3rem 0;
}
.pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: Lexend, cursive;
}
.pagination .pages{
    background: $text-gray;
    color: $white;
}
.pagination i{
    color: $text-gray;
}

.category{
    padding-top: 1rem;
}
.sidebar__title{
    margin-bottom: 1rem;
}
.category__list{
    font-family: Livvic, cursive;
}
.category__item {
    background: $sky;
    padding: 0.4rem 1rem;
    margin: 0.8rem 0;
    border-radius: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.category__item a,
.category__item span{
    color: #000;
}

.popular-post{
    margin-top: 10rem;
}
.post__item_popular{
    padding: 1rem 0;
}


.post__title_popular a{
    font-size: 1rem;
}
.popular-post__info{
    color: $text-gray;
    padding: 0.4rem 0.1rem;
    position: absolute;
    bottom: 0;
    left: 1.9rem;
    background-color: $white;
    & span{
        margin: 0 0.5rem;
    }
}

.newsletter{
    padding-top: 13rem;
}
.newsletter__form{
    display: flex;
    flex-direction: column;
    padding: .5rem 2rem;
    position: relative;
}
.newsletter__input{
    padding: .7rem .5rem;
    font-family: Lexend, cursive;
    font-size: 1rem;
    border: 1px solid $text-gray;
    border-radius: 0.1rem;
}
.newsletter__input.with-error{
    background-color: rgba(255,99,71,.5);
    box-shadow: 0 0 10px 3px rgba(255,0,0,.3);
    border-color: rgb(143, 0, 0);
}
.newsletter__form input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 45px #fff!important;
    -webkit-text-fill-color: $text-gray!important;
    color: $text-gray!important;
  }
.newsletter__btn{
    margin: 1rem 0 0 0;
    height: 2.6rem;
    font-size: 1rem;
    background: $sky;
    font-family: Livvic,cursive;
    cursor: pointer;
}

.popular-tags{
    padding-top: 6rem;
}
.popular-tags__list{
    flex-wrap: wrap;
}
.popular-tags__item{
    background: $sky;
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
    text-transform: capitalize;
    cursor: pointer;
}